{% extends 'main.html' %}
{% block content %}

<main>
    <div class="innertube">
        <h1 class="text-center text-danger m-5">Metric 1.3.3</h1>
        <hr>
        <h4 class="text-center text-primary">Percentage of students undertaking project work/field work/ internships
            (Data for the latest completed academic year</h4>
        <h6 class="text-center">1.3.3.1. Number of students undertaking project work/field work / internships</h6>
        <div class="ml-5">
            <h5 class="text-success">Data Requirement: (As per Data Template)</h5>
            <h6 class="ml-5">&#8226; Name of the programme </h6>
            <h6 class="ml-5">&#8226; No. of students undertaking project work/field work / internships </h6>
        </div>
        <h2 class="text-center text-danger">-:Formula:-</h2>
        <div class="m-5">
            <h6 class="text-center ml-5">Number of students undertaking project work/field work / internships</h6>
            <h5 class="text-center">
                ------------------------------------------------------------------------------------------------------------------------
                X 100
            </h5>
            <h6 class="text-center">Total Number of Students</h6>
        </div>
    </div>
    <div class="ml-5">
        <h5 class="text-success">File Description (Upload)</h5>
        <h6 class="ml-5">&#8226; Any additional information</h6>
        <h6 class="ml-5">&#8226; List of programmes and number of students undertaking project work/field work/
            /internships (Data Template)</h6>
    </div>
    <hr>
    <h5 class="text-center">Percentage of Students</h5>
    <h6 class="text-right m-4 text-danger">Weightage = 10</h6>
    <div class="text-center card-body m-5">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Metric Number</th>
                        <th scope="col">Number of Students<span class="text-danger">*</span></th>
                        <th scope="col">Total Students<span class="text-danger">*</span></th>
                        <th scope="col">File(Optional)</th>
                        <th scope="col">Remarks(Optional)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1.3.3</th>
                        <td><input type="number" name="subject1" required></td>
                        <td><input type="number" name="subject2" required></td>
                        <td><input type="file" name="file1"></td>
                        <td><input type="text" name="remarks"></td>
                    </tr>
                </tbody>
            </table>
            <button name="value" class="btn btn-success">Calulate Students Percentage</button>
        </form>
        {% for message in messages %}
        <h3 class="m-5">{{ message }}</h3>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</main>

{% endblock content %}