{% extends 'main.html' %}
{% block content %}

<main>
    <div class="innertube">
        <h1 class="text-center text-danger m-5">Metric 2.1.2</h1>
        <hr>
        <h4 class="text-center text-primary">Average percentageof seats filled against seats reserved for various
            categories (SC, ST, OBC, Divyangjan, etc. as per applicable reservation policy during the last five years(
            exclusive of supernumerary seats)</h4>
        <h6 class="text-center">2.1.2.1. Number of actual students admitted from the reserved categories year wise
            during last five years</h6>
        <div class="ml-5">
            <h5 class="text-success">Data Requirement last five years</h5>
            <h6 class="ml-5">&#8226; Number of Students admitted from the reserved category</h6>
            <h6 class="ml-5">&#8226; Total number of seats earmarked for reserved category as per GOI orState government
                rule </h6>
        </div>
        <div class="m-5">
            <h6 class="text-center">Actual number of students admitted from the reserved categories</h6>
            <h5 class="text-center">Percentage per year =>
                -----------------------------------------------------------------------------------------------------------------------
                X
                100
            </h5>
            <h6 class="text-center">Number of seats earmarked for reserved category as per GOI or state government rule
            </h6>
        </div>
        <div class="m-5">
            <h6 class="text-center"><span class="ml-5" style="font-size: 30px;">&#8721;</span> Percentage per year</h6>
            <h5 class="text-center mr-5">Average percentage =
                --------------------------------------------------------------
            </h5>
            <h6 class="text-center">5</h6>
        </div>
    </div>
    <div class="ml-5">
        <h5 class="text-success">File Description :</h5>
        <h6 class="ml-5">&#8226; Any additional information</h6>
        <h6 class="ml-5">&#8226; Average percentage of seats filled against seats reserved (Data Template)</h6>
    </div>
    <hr>
    <h5 class="text-center">Percentage per year</h5>
    <h6 class="text-right m-4 text-danger">Weightage = 10</h6>
    <div class="text-center card-body m-5">
        <form action="" method="POST">
            {% csrf_token %}
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">Metric Number</th>
                        <th scope="col">Actual number of students admitted <span class="text-danger">*</span></th>
                        <th scope="col">Number of seats earmarked <span class="text-danger">*</span></th>
                        <th scope="col">Upload File(Optional)</th>
                        <th scope="col"> Remarks(Optional)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>2.1.2</th>
                        <td><input type="number" name="subject1" required></td>
                        <td><input type="number" name="subject2" required></td>
                        <td><input type="file" name="file1"></td>
                        <td><input type="text" name="remarks"></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success">Calulate</button>
        </form>
        {% for message in messages %}
        <h3 class="m-5">{{ message }}</h3>
        {% endfor %}
    </div>
    {% include 'footer.html' %}
</main>

{% endblock content %}