{% extends 'main.html' %}
{% block content %}

<main>
    <div class="innertube">
        <h1 class="text-center text-danger m-5">Metric 2.3.3</h1>
        <hr>
        <h4 class="text-center m-3" style="font-size: 25px;">Ratio of mentor to students for academic and other related
            issues (Data for the latest completed academic year )</h4>
        <h5 class="text-center ">2.3.3.1. Number of mentorsNumber of students assigned to each Mentor</h5>


        <div class="ml-5">
            <h5 class="text-success">File Description:</h5>
            <div class="ml-5">
                <h5>&#8226; Upload year wise, number of students enrolled and full time teachers on roll.</h5>
                <h5>&#8226; Circulars pertaining to assigning mentors to mentees </h5>
                <h5>&#8226; mentor/mentee ratio</h5>
            </div>
        </div>
        {% include 'footer.html' %}
</main>

{% endblock content %}