{% extends 'main.html' %}
{% block content %}

<main>
    <div class="innertube">
        <h1 class="text-center text-danger m-5">Welcome to Quadratic Equation section !</h1>
        <h1 style="font-size: 50px;" class="text-warning text-lg-center m-5">&#937;</h1>
    </div>
    <p class="text-center m-4">Here you can calculate Quadratic Equation of the values. Please input all details
        correctly and find Quadratic Equation of your values. Todo that please
        proceed further ...</p>

    <div class="card m-5 text-center">
        <h5 class="card-header">Quadratic Equation</h5>
        <div class="card-body">
            <h5 class="card-title">Enter all the value to find Quadratic Equation</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value of a</span>
                    </div>
                    <input required type="number" name="a" aria-label="a" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value of b</span>
                    </div>
                    <input required type="number" name="b" aria-label="b" class="form-control">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Value of c</span>
                    </div>
                    <input required type="number" name="c" aria-label="c" class="form-control">
                </div>
                <button class="btn btn-success m-4">Calculate Quadratic Equation</button>
            </form>
            {% for message in messages %}
            <h3>{{ message }}</h3>
            {% endfor %}
        </div>
    </div>
    {% include 'footer.html' %}

</main>

{% endblock content %}